<style> 
outer{ text-align:center; margin:0px; background-color:#FFF;} 
.div{ margin:0 auto; width:1200px; font-size:18px; font-weight:bold; text-align:center;} 
.vline{ color:#bfbfbf; padding-left:20px; padding-right:20px; font-size:14px;}
</style> 
<div class="outer">
<div class="div">
<div style="height:30px;"></div>
<div>关于我们 <span class="vline">|</span> 新手帮助 <span class="vline">|</span> 投诉建议</div>
<div style="height:20px;"></div>
<div><span class="vline">沪ICP备15051420号-4</span> <span class="vline">&copy; 2018 版权所有：上海扬晟信息科技有限公司</span></div>
</div>
</div>
</body>
</html>